#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
           &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6                               &kp F7      &kp F8      &kp F9         &kp F10         &kp F11            &kp F12
           &kp GRAVE   &kp Q       &kp W       &kp E       &kp R       &kp T       &kp PRINTSCREEN  &tog 3  &kp Y       &kp U       &kp I          &kp O           &kp P              &kp RA(LEFT_BRACKET)  &kp RA(RIGHT_BRACKET)
&kp ESC    &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G                                &kp H       &kp J       &kp K          &kp L           &kp RA(SEMICOLON)  &kp RA(SINGLE_QUOTE)  &kp RET
           &kp FSLH    &kp Z       &kp X       &kp C       &kp V       &kp B                                &kp N       &kp M       &kp RA(COMMA)  &kp RA(PERIOD)  &kp COMMA          &kp DOT
           &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)                           &kp LS(N7)  &kp LS(N8)  &kp LS(N9)     &kp LS(N0)      &kp MINUS          &kp EQUAL
&kp LCTRL                          &kp LALT    &kp LGUI    &mo 1       &mo 2                                &kp SPACE   &mo 1       &kp BSPC       &kp DEL                                                  &kp RCTRL
            >;
        };

        Nums_fix {
            bindings = <
        &trans  &trans  &trans  &trans  &trans     &trans                  &trans  &trans     &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans                  &trans  &trans     &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans     &trans                  &trans  &trans     &trans  &trans  &trans  &trans
        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6                  &kp N7  &kp N8     &kp N9  &kp N0  &trans  &trans
&trans                  &trans  &trans  &kp LSHFT  &trans                  &trans  &kp RSHFT  &trans  &trans                  &trans
            >;
        };

        Symbolics {
            bindings = <
                    &none  &none     &none           &none              &none     &none                    &none  &none  &none  &none  &none  &none
                    &none  &none     &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp LBKT  &kp RBKT   &none  &none  &none  &none  &none  &none  &none  &none  &none
&none               &none  &none     &kp SQT         &kp DOUBLE_QUOTES  &kp SEMI  &kp COLON                &none  &none  &none  &none  &none  &none  &none
                    &none  &kp PIPE  &kp BSLH        &none              &none     &none                    &none  &none  &none  &none  &none  &none
                    &none  &none     &none           &none              &none     &none                    &none  &none  &none  &none  &none  &none
&kp K_CONTEXT_MENU                   &none           &none              &none     &trans                   &none  &none  &none  &none                &none
            >;
        };

        Numpad {
            bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp PLUS  &kp MINUS  &kp STAR  &kp FSLH  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp N7    &kp N8     &kp N9    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp N4    &kp N5     &kp N6    &trans    &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp N1    &kp N2     &kp N3    &trans    &trans
        &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans     &kp N0    &trans    &trans
&trans                  &trans  &trans  &trans  &trans                  &trans  &trans    &trans     &trans                      &trans
            >;
        };
    };
};
